.root {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 0.5rem;
}

.button {
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border: none;
    border-radius: 2rem;
    background-color: #f2f4f5;
}

.button.isActive {
    background-color: #e7e7ff;
    color: #684eff;
}