.item {
    display: flex;
    gap: .75rem;
}

.image {
    flex: 0 0 64px;
    width: 64px;
    height: 64px;
    padding-top: 0;
}

.body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.title {
    font-size: 14px;
}

.extra {
    font-size: 12px;
    color: #6c7072;
}